<%= render 'layouts/messages' %>

<% if @friends %>
  <div class="card card-header bg-light p-3 d-inline-block">
    <table class="col-md-12">
      <tbody>
        <% @friends.each do |friend|%>
          <tr>
            <td><strong>Name: </strong> <%= friend.full_name %></td>
            <td><strong class="ms-2">Email: </strong> <%= friend.email %></td>
            <td>
              <%= link_to "View Profile", user_path(friend), class: "btn btn-sm btn-secondary ms-2" %>
              <% if current_user.not_friends_with?(friend.id)%>
               <%= link_to "Follow friend?", friendships_path(friend: friend), class: "btn btn-sm btn-success ms-2", method: :post %>
              <% else %>
                <span class="badge bg-warning ms-2">
                  You are friends
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>