<h1>My Friends</h1>

<div class="search-area pt-5 pb-3 bg-white">
  <h3>Search friends</h3>
  <%= form_tag search_friend_path, {remote: true, local: true, method: :get} do %>
    <div class="row">
      <div class="col-9">
        <div class="form-group row">
          <div class="col-sm-9 pe-0 ">
            <%= text_field_tag :friend, params[:friend], placeholder: "Type a name or email to search", autofocus: true, class: "form-control form-control-lg"%>
          </div>
          <div class="col-sm-3 ps-0 ">
            <%= button_tag type: :submit, class: "btn btn-primary" do%>
              <%= fa_icon "search 2x" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
  <% end %>
</div>

<div class="row mb-3">
  <div class="col-sm-9">
    <div id="results">
    </div>
  </div>
</div>

<% if !@friends.empty?%>
  <%= render "friends/list"%>
<% end %>



  
